* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Roboto, sans-serif;
}

.scoreboard {
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  padding: 0.5rem;
}

.feedback {
  z-index: 999;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;

}