
:root {
  --found-country-fill: #808080;
  --white: #FBFFFE;
  --black: #121619;
  --red: #DB3A34;
  --green: #85CB33;
  --highlight: #F19A3E;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scoreboard {
  z-index: 999;
  background-color: var(--white);
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  border: 0.5px solid var(--black);
  width: 45em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.prompt {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--black);
}
.prompt-complete {
  flex-direction: column;
  gap: 0.35em;
  padding: 0.35em 0;
}
.prompt-value {
  padding: 0 0.5em;
}
.prompt-subtitle {
  padding: 0 0.75em 0.5em;
  font-size: 0.95em;
}
.buttons {
  display: flex;
  align-items: stretch;
}

.button {
  width: 7em;
  background-color: var(--black);
  color: var(--white);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.button:hover {

}
.button:active {}

.button:first-child {
  border-right: 0.5px solid var(--white);
}
.border {
  display: flex;

}

.score-section {
  width: 50%;
  display: flex;
  align-items: baseline;
}
.score-section:first-child {
  border-right: 0.5px solid var(--black);
}
.score-title {
  text-transform: uppercase;
  margin: 0 1em 0;
}
#score {
  transition: 200ms ease-out;
}
#score.correct {
  background-color: var(--green);
}

#score.incorrect {
  background-color: var(--red);
}
.score-value {
  font-weight: bold;
  font-size: 2em;
}

.feedback {
  z-index: 999;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;

}
